.contactsFormWrapper {
    border: 2px solid rgba(146, 141, 141, 0.5);
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px 10px 10px 5px;
}

.lookingForAJobCheckbox {
    display: inline-block;
}

.saveBtn{
    float: right;
}