.descriptionBlock {
    padding: 10px;
}
.photo{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.mainPhoto {
    max-width: 200px;
}

.fullName {
    font-size: 18px;
    text-decoration: underline;
    font-style: italic;
    opacity: 0.9;
}

.informationItem{
    margin-top: 5px;
    font-size: 15px;
}

.contact {
    padding: 5px 0 0 20px;
}

.contactTitle {
    opacity: 0.8;
}

.uploadFile {
    opacity: 0;
    visibility: hidden;
}

.uploadIconWrapper {
    height: 30px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #fff;
    cursor: pointer;
}

.uploadIcon {
    padding-left: 10px;
    font-size: 25px;
}

.profileInformation {
    width: 350px;
    display: inline-block;
    position: relative;
}

.informationTitleItem{
    display: inline-block;
    margin-bottom: 5px;
}

.informationItem:nth-child(2) > .informationTitleItem {
    margin-top: 5px;
}

.editProfileBtn {
    cursor: pointer;
}

.editProfileBtnWrapper{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}