.item {
  padding-top: 20px;
  margin-bottom: 20px;
}

.item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.likesCounterWrapper {
  height: 20px;
}

.likeIcon {
  font-size: 18px;
  cursor: pointer;
}

.likedPost {
  color: rgb(102, 102, 248);
}

.likeIcon:hover {
  font-size: 20px;
}