.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    padding: 20px 0 0 20px;
    color: white;
}

.dialogsItems > .active{
    color: gold;
}

.dialog a{
    display: inline-block;
    padding: 5px 0;
    margin: 5px 0;
    color: black;
    text-decoration: none;
}

.messages{
    padding: 10px;
}

.message{
    color: white;
}